body {

  background-color: rgb(16, 16, 16);
  }
  
  .navbar {
    background-color: rgb(37, 120, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0rem;
    width: 100%;
    z-index: 1;
    font-size: 1.8rem;
    height: 60px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
  
  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  }
  
  .chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 8rem;
  }
  
  .chip {
    background-color: rgb(37, 120, 14);
    color: white;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    padding: 1.1rem 2rem;
    margin: 2rem;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 6px solid black;
  }
  
  .chip:hover {
    background-color: rgb(43, 138, 17);
  }
  
  .chip.selected {
    background-color: rgb(16, 63, 8);
  }
  
  #selectedTest {
    color: white;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  




.screenshot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.screenshot {
  position: relative;
  margin: 10px;
  width: 1200px;
  height: 550px;
  background-color: white;
  border: 1px solid lightgray;
  overflow: hidden;
}

.screenshot img {
  width: 100%;
  height: 100%;
}

.screenshot .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: lightgray;
  cursor: pointer;
}


#displayContainer {
  margin: 0 auto;
  right: -1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 240vh;
}

#frameContainer {
  position: relative;
}

#displayedFrame {
  max-width: 75%;
}

#deleteButton {
  position: absolute;
  
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#marcha-humana-wrapper {
  display: flex;
  
  align-items: center;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  background-color: rgba(16, 16, 16, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#rotacion-int-ext-wrapper {
  display: flex;
  align-items: center;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  background-color: rgba(16, 16, 16, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}
.stripe {
  background-color: rgb(37, 120, 14);
  color: #fff;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


#marcha-humana {
  list-style: none;
  padding: 60px;
  background-color: #202020;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: -1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#rotacion-int-ext {
  list-style: none;
  padding: 60px;
  background-color: #202020;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: -1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

