body {

    background-color: rgb(17, 17, 17);
    }
    
    .navbar {
        background-color: rgb(37, 120, 14);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        position: fixed;
        top: 0;
        left: 0rem;
        width: 100%;
        z-index: 1;
        font-size: 1.8rem;
        height: 60px;
        font-weight: bold;
    }
    
    .navbar a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    
   
    
    #capturas-container {
      max-width: 1280px;
      margin: auto;
    }
    
    #capturas-container img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 0px;
    }
    
    .imagePreview {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }
    
    .imagePreview img {
      max-width: 100%;
    }
    .stripe {
      background-color: rgb(37, 120, 14);
      color: #fff;
      padding: 20px;
      font-size: 24px;
      text-align: center;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 8rem;
      }
      